//Шаблоны для html
// Подсветка для таких файлов лежит в ..\Notepad++\plugins\jN\Intell\_tmpl_udl.xml

Template:html
<html>
<head>
	<title>title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="index,follow" />
	<link rel="stylesheet" type="text/css" href="styles.css" />
</head>

<body>

</body>
</html>
TemplateEnd

Template:body
<body></body>
TemplateEnd


Template:script
<script type="text/javascript" src = ''>	</script>
TemplateEnd

