//Шаблоны для javascript
// Подсветка для таких файлов лежит в 
// ..\Notepad++\plugins\jN\Intell\_tmpl_udl.xml

Template:if
if() {

}
TemplateEnd

Template:ife
if() {

} else {

}
TemplateEnd


Template:for
for(var i = 0; i<= 10; i++) {
}
TemplateEnd

Template:function
function () {
	var rv = '';
	return rv;
}
TemplateEnd

Template:try
try { 
} catch(e) {
}
TemplateEnd

Template:switch
switch() {
  case _:     
    break;
  case _:
    break;
  default:    
}
TemplateEnd

Template:while
while() {
	// break; continue;
}
TemplateEnd

