Template:Function
Function

End Function
TemplateEnd

Template:Sub
Sub

End Sub
TemplateEnd

Template:if
if Then
	
end if 
TemplateEnd

Template:for each
for each 1 in 2
	
Next
TemplateEnd

Template:for
For i=0 To N
	
Next
TemplateEnd



